<div class="nested-fields">
  <%= f.input :waypoint_name %>
  <%= f.input_field :waypoint_latitude, as: :hidden, :class =>"lat" %>
  <%= f.input_field :waypoint_longitude, as: :hidden, :class =>"lon" %>
</div>