<div class="row">
    <div class="booyah-box col-xs-10 col-xs-offset-1">
        <h1><%= @ride.waypoints.first.waypoint_name %> → <%= @ride.waypoints.last.waypoint_name %><%= %></h1>
        <br />
        <%if @ride.waypoints.length > 2 %>
            <h2>Waypoints</h2>
            <br />
            <% @ride.waypoints.each do |s| %>
                <p><%= s.waypoint_name %></p>
            <% end %>
        <% end %>
    </div>
</div>