<div class="row">
    <div class="booyah-box col-xs-10 col-xs-offset-1">
        <% @ride.waypoints.each do |w|%>
            <h4><%= w.waypoint_name%></h4>
            <br />
        <% end%>
        
        <%= @ride.build_legs.each do |w| %>
            <%= w %>
            <%= w.waypoint_start %>
        <% end %>
    </div>
</div>

<!--waypoint_finish.waypoint_name-->